<%- include("layout/email-header") -%>
<style>

    .message-container {
        display: block;
        margin: 10px auto;
        min-height: 300px;
        padding: 20px 15px;
    }

    .otp-block{
        text-align: center;
        display: block;
        font-size: 32px;
        font-weight: 600;
        color: rgb(19, 119, 72);
        letter-spacing: 5px;
    }

    .text{
    color: rgba(89, 89, 89, 1);
    font-size: 14px;
    margin: 0;
    line-height: 1.8;
    font-weight: unset;
    }

    .text-left{
        text-align: left;
    }

    table td, table th{
        padding-bottom: 1em;
    }

    .link-button{
        background-color: rgba(19, 119, 72, 1);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: small;
        text-decoration: none;
    }
</style>
<div class="message-wrapper">
    <div class="message-container">
        <p class="text">Dear All,</p>
        <p class="text">New Project has been added to the portal with reference number <%= project.referenceNumber %>.</p>
        <p class="text">Project Title: <%= project.title %></p>
        <p class="text">Client: <%= clientData?.name %></p>
        <p class="text">Submission By: <%= submissionBy?.name %></p>
        <p class="text">Project Status: <%= project?.ProjectState?.title %></p>

        <p class="text">Current Status: <%= (project?.onHold) ? "On Hold" : "Active" %></p>
        <p class="text">Comment: <%= project?.comment %></p>
        <p class="text-center"><a href="<%= frontendDomain+'projects/'+ project.slug +'?id='+project.id %>" class="link-button">View Project</a></p>
    </div>
</div>
<%- include("layout/email-footer") -%>