<%- include("layout/email-header") -%>
<!-- This template is used to notify the user if their documents is accepted or rejected -->
<style>

    .message-container{
        display: block;
        margin: 10px auto;
        min-height: 300px;
        padding: 20px 15px;
        font-size: 14px;
    }
    .mt-50{
        margin-top: 50px;
    }
    .text-center{
        text-align: center;
    }

    .resetButton{
font-size: 14px;
color: #fff;
padding: 10px 20px;
border-radius: 0.25rem;
background-color: rgba(19, 119, 72, 1);
text-decoration: none;
}
</style>
<div class="message-wrapper">
    <div class="message-container">
        <p class="mb-0">Hi <%= firstName %>,</p>
    <% if(document.status !== 4){ %>
    <p>Your Document with ID <%= document.id %> of the property <%= document.propertyId %> could not be verified. </p>
    <p>Reason: <%= document.comments %></p>
    <p>Current Status: <%= status %></p>
    <% }else { %>
        <p>Your Document with ID <%= document.id %> of the property <%= document.propertyId %> has been verified successfully. </p>
        <% } %>

    <a href="<%= propertyLink %>">View Property</a>
    
    <p>You are receiving this email because you have subscribed from Yallah adminpanel. You can manage your notifications from
        <a href="https://admin.yallahproperty.ae/profile?tab=manage_notifications"  target="_blank">here</a>
    </p>
    </div>
</div>
<%- include("layout/email-footer") -%>